body {
  background-color: #F0F8FF;
  text-align: center;
}

img {
  width: 20%;
  height: 20%;
}

.All-projects h2 {
  font-style: italic;
  font-weight: bolder;
}
.project{
  width: 25%;
  float: left;
  border: solid red;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box
}
.row-clear {
  clear: both;
}